[submodule "sign-in-plugin"]
	path = wp-content/plugins/sign-in-plugin
	url = https://github.com/phucitol/sign-in-plugin.git
[submodule "user-moderation-plugin"]
	path = wp-content/plugins/user-moderation-plugin
	url = https://github.com/phucitol/user-moderation-plugin.git
